<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhixing.work.zhixin">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- To auto-complete the email text field in the login form with Useruser's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".app.ZxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.RegistActivity" />
        <activity android:name=".view.UpDatePwdActivity" />
        <activity android:name=".view.card.CreateCardActivity" />
        <activity android:name=".view.card.PerfectCardDataActivity" />
        <activity android:name=".view.card.PerfectCardEducationActivity" />
        <activity android:name=".view.card.PerfectCardCertificateActivity" />
        <activity android:name=".view.card.PerfectCardWorkActivity" />
        <activity android:name=".view.card.AddEducationActivity" />
        <activity android:name=".view.card.ModifyDataActivity" />
        <activity android:name=".view.card.AddCertificateActivity" />
        <activity android:name=".view.card.AddWorkActivity" />
        <activity android:name=".view.card.ModifyContentActivity" />
        <activity android:name=".view.card.ModifyUserActivity" />
        <activity android:name=".view.card.Addressctivity" />
        <!--
            <activity
            android:name=".view.card.CardCounterFragment"
            android:launchMode="singleTask" />
        -->
        <activity android:name=".view.authentication.IdAuthenticationActivity" />
        <activity android:name=".view.util.SelectImageActivity" />
        <activity android:name=".view.authentication.AuthenticationHallActivity" />
        <activity android:name=".view.authentication.EducationCertificationActivity" />
        <activity
            android:name=".view.authentication.CertificateCertificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".view.card.back.fragment.EvaluatingFragment"
            android:launchMode="singleTask" />
        <activity android:name=".view.score.EvaluationHallActivity" />
        <activity android:name=".view.score.InitialEvaluationActivity" />
        <activity android:name=".view.resume.MyResumeActivity" />
        <activity android:name=".view.resume.PersonalDataActivity" />
        <activity android:name=".view.resume.PrivacySettingsActivity" />
        <activity android:name=".view.resume.ShieldingCompanyActivity" />
        <activity android:name=".view.resume.ShieldedHelpActivity" />
        <activity android:name=".view.resume.SearchCompanyActivity" />
        <activity android:name=".view.resume.AddProjectActivity" />
        <activity android:name=".view.card.EditorialBasisActivity" />
        <activity android:name=".view.card.AdvancedInformationActivity" />
        <activity android:name=".view.card.back.CardMainActivity" />
        <activity android:name=".view.card.back.WorkListActivity" />
        <activity android:name=".view.card.back.EducationListActivity" />
        <activity android:name=".view.card.back.CertificateListActivity" />
        <activity android:name=".view.resume.JobIntensionActivity" />
        <activity android:name=".view.resume.WorkPlaceActivity" />
        <activity android:name=".view.resume.IndustryActivity" />
        <activity android:name=".view.resume.JobActivity" />
        <activity android:name=".view.resume.JobListActivity"></activity>
    </application>

</manifest>