<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhixing.work.zhixin">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".app.ZxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录界面-->
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait" />

        <!--注册-->
        <activity
            android:name=".view.RegistActivity"
            android:screenOrientation="portrait" />

        <!--忘记密码-->
        <activity
            android:name=".view.UpDatePwdActivity"
            android:screenOrientation="portrait" />

        <!--创建员工卡牌-->
        <activity
            android:name=".view.card.CreateCardActivity"
            android:screenOrientation="portrait" />

        <!--完善个人资料-->
        <activity
            android:name=".view.card.PerfectCardDataActivity"
            android:screenOrientation="portrait" />

        <!--完善学历信息-->
        <activity
            android:name=".view.card.PerfectCardEducationActivity"
            android:screenOrientation="portrait" />

        <!--完善证书信息-->
        <activity
            android:name=".view.card.PerfectCardCertificateActivity"
            android:screenOrientation="portrait" />

        <!--完善工作信息-->
        <activity
            android:name=".view.card.PerfectCardWorkActivity"
            android:screenOrientation="portrait" />


        <!--添加学历-->
        <activity
            android:name=".view.card.AddEducationActivity"
            android:screenOrientation="portrait" />
        <!--修改输入数据-->
        <activity
            android:name=".view.card.ModifyDataActivity"
            android:screenOrientation="portrait" />
        <!--添加证书-->
        <activity
            android:name=".view.card.AddCertificateActivity"
            android:screenOrientation="portrait" />

        //添加工作经历
        <activity
            android:name=".view.card.AddWorkActivity"
            android:screenOrientation="portrait" />


        <!--修改长内容文本-->
        <activity
            android:name=".view.card.ModifyContentActivity"
            android:screenOrientation="portrait" />
        <!--修改带单位的个人信息-->
        <activity
            android:name=".view.card.ModifyUserActivity"
            android:screenOrientation="portrait" />
        <!--添加地址-->
        <activity
            android:name=".view.card.Addressctivity"
            android:screenOrientation="portrait" />

        <!--//个人身份认证-->
        <activity
            android:name=".view.authentication.IdAuthenticationActivity"
            android:screenOrientation="portrait"

            />
        <!--选择图片-->
        <activity
            android:name=".view.util.SelectImageActivity"
            android:screenOrientation="portrait" />


        <!--我的认证-->

        <activity
            android:name=".view.authentication.AuthenticationHallActivity"
            android:screenOrientation="portrait" />

        <!--学历认证-->
        <activity
            android:name=".view.authentication.EducationCertificationActivity"
            android:screenOrientation="portrait" />

        <!--证书认证-->
        <activity
            android:name=".view.authentication.CertificateCertificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|stateAlwaysHidden" />
        <!--评测大厅-->
        <activity
            android:name=".view.score.EvaluationHallActivity"
            android:screenOrientation="portrait" />
        <!--   评测-->
        <activity
            android:name=".view.score.InitialEvaluationActivity"
            android:screenOrientation="portrait" />
        <!-- 我的简历-->
        <activity
            android:name=".view.myCenter.resume.MyResumeActivity"
            android:screenOrientation="portrait" />
        <!--个人资料-->
        <activity
            android:name=".view.myCenter.resume.PersonalDataActivity"
            android:screenOrientation="portrait" />

        <!-- 隐私设置-->
        <activity
            android:name=".view.myCenter.resume.PrivacySettingsActivity"
            android:screenOrientation="portrait" />
        <!--屏蔽公司-->
        <activity
            android:name=".view.myCenter.resume.ShieldingCompanyActivity"
            android:screenOrientation="portrait" />
        <!--屏蔽帮助-->
        <activity
            android:name=".view.myCenter.resume.ShieldedHelpActivity"
            android:screenOrientation="portrait" />

        <!-- 搜索公司-->
        <activity
            android:name=".view.myCenter.resume.SearchCompanyActivity"
            android:screenOrientation="portrait" />
        <!--添加项目经历-->
        <activity
            android:name=".view.myCenter.resume.AddProjectActivity"
            android:screenOrientation="portrait" />

        <!--编辑基础信息-->
        <activity
            android:name=".view.card.EditorialBasisActivity"
            android:screenOrientation="portrait" />

        <!--高级信息-->
        <activity
            android:name=".view.card.AdvancedInformationActivity"
            android:screenOrientation="portrait" />
        <!--卡牌背面主界面-->
        <activity
            android:name=".view.card.back.CardMainActivity"
            android:screenOrientation="portrait" />


        <!--工作经历-->
        <activity
            android:name=".view.card.back.WorkListActivity"
            android:screenOrientation="portrait" />

        <!--教育经历-->
        <activity
            android:name=".view.card.back.EducationListActivity"
            android:screenOrientation="portrait" />

        <!--证书经历-->
        <activity
            android:name=".view.card.back.CertificateListActivity"
            android:screenOrientation="portrait" />
        <!--管理求职意向-->
        <activity
            android:name=".view.myCenter.resume.JobIntensionActivity"

            android:screenOrientation="portrait" />

        <!--工作地点-->
        <activity
            android:name=".view.myCenter.resume.WorkPlaceActivity"
            android:screenOrientation="portrait" />

        <!--期望行业-->
        <activity
            android:name=".view.myCenter.resume.IndustryActivity"
            android:screenOrientation="portrait" />

        <!--期望职位-->
        <activity
            android:name=".view.myCenter.resume.JobActivity"
            android:screenOrientation="portrait" />

        <!--职位子级-->
        <activity
            android:name=".view.myCenter.resume.JobListActivity"
            android:screenOrientation="portrait" />

        <!--设置-->
        <activity
            android:name=".view.setting.SettingActivity"
            android:screenOrientation="portrait" />

        <!--创建公司卡牌-->
        <activity
            android:name=".view.companyCard.CreateCompanyCardActivity"
            android:screenOrientation="portrait"

            />
        <!--公司认证列表-->
        <activity
            android:name=".view.companyCard.CompanyCertificationActivity"
            android:screenOrientation="portrait" />

        <!--公司个人认证-->
        <activity
            android:name=".view.companyCard.PersonalQualificationActivity"
            android:screenOrientation="portrait" />

        <!--公司认证-->
        <activity
            android:name=".view.companyCard.EnterpriseCertificationActivity"
            android:screenOrientation="portrait" />

        <!--公司卡牌主界面-->
        <activity
            android:name=".view.companyCard.back.CompanyCardActivity"
            android:screenOrientation="portrait" />

        <!--公司介绍-->
        <activity
            android:name=".view.companyCard.back.CompanyProfileActivity"
            android:screenOrientation="portrait" />
        <!--  完善公司卡牌-->
        <activity
            android:name=".view.companyCard.back.CompanyPerfectCardActivity"
            android:screenOrientation="portrait" />

        <!--公司行业-->
        <activity
            android:name=".view.companyCard.CompanyIndustryActivity"
            android:screenOrientation="portrait" />

        <!--  公司产品-->
        <activity
            android:name=".view.companyCard.CompanyProductsActivity"
            android:screenOrientation="portrait" />
        <!-- 添加公司产品-->
        <activity
            android:name=".view.companyCard.AddProductsActivity"
            android:screenOrientation="portrait" />

        <!--公司高管-->
        <activity
            android:name=".view.companyCard.CompanyManagerActivity"
            android:screenOrientation="portrait" />

        <!--添加公司高管-->
        <activity
            android:name=".view.companyCard.AddCompanyManagerActivity"
            android:screenOrientation="portrait" />

        <!--公司大事件-->
        <activity
            android:name=".view.companyCard.BigEventActivity"
            android:screenOrientation="portrait" />
        <!--添加公司大事件-->
        <activity
            android:name=".view.companyCard.AddEventActivity"
            android:screenOrientation="portrait" />

        <!--组织机构-->
        <activity
            android:name=".view.myCenter.organizational.OrganizationalStructureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|stateAlwaysHidden" />

        <!--管理部门和成员-->
        <activity
            android:name=".view.myCenter.organizational.DepartmentManagementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|stateAlwaysHidden" />
        <!--部门设置-->
        <activity
            android:name=".view.myCenter.organizational.DepartmentSettingActivity"
            android:screenOrientation="portrait" />
        <!--部门详情-->
        <activity
            android:name=".view.myCenter.organizational.DepartmentDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|stateAlwaysHidden" />
        <!--添加部门-->
        <activity
            android:name=".view.myCenter.organizational.AddDepartmentActivity"
            android:screenOrientation="portrait" />
        <!--选择上级部门-->
        <activity
            android:name=".view.myCenter.organizational.SelectionDepartmentActivity"
            android:screenOrientation="portrait" />
        <!--选择上级部门列表-->
        <activity
            android:name=".view.myCenter.organizational.SelectionDepartmentListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>